body {
	background: pink url('../img/background_2022.jpg') repeat left top;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: red;
}

a:active {
	color: white;
}

h1 {
	color: red;	
	text-transform: uppercase;
	text-align: center;
}

#menu {
	text-transform: uppercase;
	text-align: right;
	font-weight: bold;
}

.gioi_thieu {
	font-style: italic;
	font-family: sans-serif;
	font-size: 25pt;
}